@import "~react-bulma-components/src/index.sass";
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
@import './fonts/stylesheet.css';
@import './fonts/orbitronLight/stylesheet.css' ;
@import './fonts/orbitronBlack/stylesheet.css';

@charset "utf-8";


// Set your brand colors
$lila: rgba(177, 137, 166, 0.8);
$light-pink:#F3D8D8;
$dark-pink: #C683A1;
$off-white: #f1f1f1; 
$peach: #f7a0a9;
$light-blue: #BCCDDC;
$dark-grey: #4A4A4A;

//shared 

.App{
    margin: 2% 1%;
    font-family: 'orbitronlight';
    color: $dark-grey;
}
.elem-border{
    border: solid 5px $dark-grey;
    border-collapse: collapse;
}

.myBrandTitle{
    font-family: 'orbitronblack';
    font-size: 2em;
}
.navbar{
  margin: 0 1%;
  background-color: $off-white;
}
.navbar-menu{
  background-color: $off-white;
}
.selected{
  color:$lila;
  text-decoration: underline;
  font-family: 'orbitronblack';
}

a.navbar-item:hover{
  transition: 0.5s ease;
  color: $lila;
}

.footer{
  border-top: none;
  background-color: $off-white;
}

h3{
  font-family: 'orbitronBlack';
  margin: 1%;
  color: $dark-grey;
}

h2{
font-family: 'orbitronBlack';
 font-size: 2em;
 padding-bottom: 4%;
 max-width: 75%;
 margin: auto;
 color: $dark-grey;
}

.sectionTitle{
  font-family: 'orbitronblack';
  font-size: 3em;
  padding:5%;
  margin-bottom: 3%;
  background-image: url("../src/assets/aboutImage.webp");
  background-size: cover;
  border-bottom: 5px $dark-grey solid;
  align-self: stretch;
}

//home

.homeScreen{
    display:flex;
    width: 100%;
    flex-wrap:wrap;
    text-align: center;
}

.mainImage{
    width:70%;
    flex-wrap: wrap;
    border-right: none;
    border-top: none;
}

.homeImage{
  background-image: url("../src/assets/aboutImage.webp");
    background-size: cover;
    height: 83vh;
    color: $off-white;
    font-size: 3em;
    position:relative;
}

#mainTitle{
    border:$off-white solid 3px;
    display:flex;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 5%;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
}

.tilesMain{
    display: flex;
    flex-direction: column;
    flex:1;
}

@media all and (max-width: 800px){
  .mainImage{
    width:100%;
    border: solid 5px $dark-grey;
  }
  #mainTitle{
    font-size: 1em;
  }
}

.tile{
  position:relative;
  display: flex;
  flex:1;
  justify-content: space-around;
  align-items: center;
  border-top: none;
  background-color: $off-white;
  width: 100%;
  height:100%;
}

.tile h1{
  font-family: 'orbitronblack';
  font-size: 2em;
  padding:7%;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: $lila;
  color: $dark-grey; 
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  opacity:0;
  font-size: 130%;
  text-align: center;
  display:flex;
  flex-shrink: 5;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tile:hover .overlay {
  opacity: 1;
}
.tile:hover h1{
  opacity: 0;
}

button{
  display:block;
  border-radius: 0;
  font-family: 'orbitronblack';
  font-size: 0.8em;
  color: $dark-grey;
  padding: 2% 8%;
  border: solid 1px $dark-grey;
  box-shadow: 5px 10px $dark-grey;;
  min-width: 250px;
  background-color: $off-white;
}

//about page

.aboutPage{
  background-color: $off-white;
  display: flex;
  flex-wrap:wrap;
}

.aboutImage{
  margin-bottom: -1%;
  border-bottom: 5px $dark-grey solid;
  background-image: url('./assets/aboutImage.webp');
  opacity: 0.4;
  background-size: cover;
  height: 90vh;
  color: $off-white;
  font-size: 3em;
  position:relative;
}


.aboutSection{
  display:flex;
  padding:5%;
  justify-content: center;
}


.leftAbout{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:-5%;
  min-width: 35%;
}

.rightAbout{
  padding: 0 15%;
}

.mySkills{
  width:80%;
  margin-top:5%;
}

.myPic{
width: 54%;
  border-radius: 200px;
  border: solid 5px $dark-grey;
  margin-bottom: 2%;
}

.timeline{
  padding: 3% 6%;
}

.timeRight{
  text-align: left;
}

.timeLeft{
  text-align: right;
}

.cubeIcon{
    border-radius: 0;
    border: solid 1px $dark-grey;
    box-shadow: 3px 7px;
    background-color: $light-pink;
    width: 20px;
    height: 20px;
    display:inline-block;
}

.cubeInactive{
  opacity: 0.2;
}

.skillsRow{
  display: flex;
  justify-content: space-between;
}

.skillsElem{
  display:flex;
  margin: 2%;
  width: 100%;
}

@media all and (max-width: 800px){
  .aboutSection{
    flex-direction:column;
  }
  .mySkills{
    margin-bottom:8%;
  }
  .rightAbout{
    padding: 0;
  }
}

//projectPage

.projectPage{
    background-color: $off-white;
    text-align: center;
}


.projectTiles{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap:wrap;
}

.project{
    width: 40%;
    min-height: 60vh;
    margin: 3% 0;
    justify-content: center;
    color: $dark-grey;
}

.project a{
  color: $dark-grey;
}

.projectLinks{
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  font-size: 0.8em;
}

.gitProject{
  display: flex;
  align-items: center;
}
.webProject{
  display: flex;
  align-items: center;
}

.hello{
  background-color: $lila;
  color: $dark-grey;
  border-top: 5px $dark-grey solid;
}

@media all and (max-width: 800px){
  .projectTiles{
    flex-direction: column;
    align-items: center;
  }
  .project{
    width:80%;
  }
}
//contact page
.contactPage{
  background-color: $off-white;
  text-align: center;
  min-height:70vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.contactItems{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  width:70%;
  background-color: $lila;
  margin-bottom: 5%;
}

.contactItem{
  display: flex;
  justify-content: center;
  font-size:1.5em;
  width: 100%;
  margin:2%;
  align-items: center;
}

.contactItem:hover{
  text-decoration: underline;
  color: $dark-grey;
}

 .contactItem h3{
  width: 100%;
}
